<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stockspace.mappers.ProductMapper">

	<select id="getAllProducts" resultType="com.stockspace.models.Product">
		SELECT * FROM
		stockspace.product;
	</select>
	
	<select id="getProductNameById"  parameterType="int"  resultType="com.stockspace.models.Product">
		SELECT * FROM stockspace.product where productId=#{productId};
	</select>
</mapper>
