<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stockspace.mappers.UserMapper">

	<select id="findAllUsers" resultType="com.stockspace.models.User">
		select * from user.userinformation;
	</select>

	<select id="getAllUsers" resultType="com.stockspace.models.User">
		select * from user.user;
	</select>
</mapper>
