<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scheduler.mappers.NotificationMapper">

	<select id="viewAllNotification" parameterType="int"
		resultType="com.scheduler.models.Notification">
		select * from notification
	</select>
	
	<select id="findAllNotifications" parameterType="int"
		resultType="com.scheduler.models.Notification">
		select * from notification where userId = #{userId} order by notificationDate DESC
	</select>

	<insert id="addNewNotification" parameterType="com.scheduler.models.Notification"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into notification (officialId, userId, gcmMessageId, notificationHeader, notificationDescription, readByUser, notificationDate)
		values
		(#{officialId},#{userId}, #{gcmMessageId}, #{notificationHeader}, #{notificationDescription}, #{readByUser}, NOW() )
		<selectKey keyProperty="id" resultType="Integer" order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>
</mapper>
